$color1: #242550;
$color2: #446196;
$color3: #d3acac;
$color4: #623ce9;
$color5: #f5f5f5;

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 5vh;
    margin: 0;
    background: $color3;
    font-family: 'Roboto', sans-serif;
    height: 90vh;
}

.options,
.progress {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-active {
    background: $color5;
}

.sound-inactive {
    background: red;
}

.options {
    & button {
        flex-grow: 1;
        border: none;
        padding: 10px 0;
        cursor: pointer;
        transition: all .3s ease;
        background: $color5;

        &:hover {
            background: $color2;
            color: #fff;
        }
    }

    & button:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    & button:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    & button:not(button:last-child) {
        border-right: 1px solid $color2;
    }
}

.progress {
    gap: 30px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    background: $color1;
    border-radius: 5px;

    & .container_moves,
    .container_time {
        display: flex;
        gap: 10px;
    }
}

.wrapper {
    margin: 0 auto;
    text-align: center;
    user-select: none;
    padding: 10px 5px;
    background: $color1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.puzzle_container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
}

.puzzle_block {
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #446196;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid rgb(59, 49, 49);
}

.winner .puzzle_block {
    filter: brightness(180%);
}

.other_sizes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2px;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    padding: 5px 0;
    border-radius: 2px;

    & button {
        flex-grow: 1;
        margin: 0;
        padding: 3px 20px;
        border: none;
        cursor: pointer;
    }
}

.active {
    background: $color2;
    color: #fff;
    transition: all .3s ease;
}

.inactive {
    filter: brightness(70%);
    transition: all .3s ease;
    pointer-events: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 10000;
}

.modal {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 300px;
    height: 400px;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    display: none;
    border: 3px solid #51c3f0;
    border-radius: 10px;

    & h1 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.modal-overlay--visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.modal--visible {
    display: flex;
}




@media (max-width: 500px) {

    .options,
    .progress {
        max-width: 310px;
        max-height: 310px;
    }

    .other_sizes {
        max-width: 250px;
    }

    .wrapper {
        width: 310px;
        height: 320px;
    }

    .puzzle_block {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {

    .options,
    .progress {
        max-width: 310px;
    }

    .other_sizes {
        max-width: 250px;
    }

    .wrapper {
        width: 310px;
        height: 320px;
    }

    .puzzle_block {
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {

    .other_sizes,
    .options,
    .progress {
        max-width: 500px;
    }

    .wrapper {
        width: 500px;
        height: 510px;
    }

    .puzzle_block {
        font-size: 1.7rem;
    }
}

@media (min-width: 1280px) {

    .other_sizes,
    .options,
    .progress {
        max-width: 600px;
    }

    .wrapper {
        width: 600px;
        height: 610px;
    }

    .puzzle_block {
        font-size: 2rem;
    }
}